.App {
    margin: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(54, 60, 87);
    color: white;
    margin-bottom: 16px;
    border-radius: 6px;
}

nav li {
    padding-right: 5px;
    padding-left: 5px;
    padding-block-start: 3px;
    padding-block-end: 3px;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-links :Hover{
    transition: 0.4s;
    color: #999999;
    border-bottom: solid #999999 1px;
    border-radius: 4px;
}