:root {
	--primary: #D81E5B;
	--secondary: #8A4EFC;
	--light: #EEE;
	--light-alt: #61759b;
	--dark: #131A26;
	--dark-alt: #202B3E;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Fira Sans", sans-serif;
}

body {
	background-color: var(--dark-alt);
	color: var(--light);
}

.App {
	padding: 32px;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 32px;
}

h2 {
	font-size: 30px;
	color: var(--primary);
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 24px;
}

p {
	font-size: 16px;
	color: var(--light-alt);
	font-weight: 200;
	margin-bottom: 16px;
}

.todo {
	position: relative;
	background-color: var(--dark);
	padding: 16px;
	border-radius: 16px;
	display: flex;
	align-items: center;
	transition: 0.5s;
	cursor: pointer;
	margin-bottom: 16px;
}

.todo:hover {
	opacity: 0.7;
}

.todo .checkbox {
	width: 20px;
	height: 20px;
	margin-right: 16px;
	border-radius: 50%;
	background-color: var(--dark-alt);
	background-image: linear-gradient(to bottom, transparent, transparent);
	transition: 0.4s;
}

.todo.is-complete .checkbox {
	background-color: var(--primary);
	background-image: linear-gradient(to right, #FF512F, #D81E5B);
}

.todo .text {
	font-size: 20px;
}

.todo.is-complete .text {
	text-decoration: line-through;
}

.delete-todo {
	color: var(--light);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	transition: 0.3s;
}

.delete-todo:hover {
	color: rgb(240, 13, 13);
}


.update-todo {
	color: var(--light);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	margin-right: 15px;
	transition: 0.3s;
}

.update-todo:hover {
	color: rgb(32, 133, 255);
}

.options {
	display: flex;
	position: absolute;
	transform: translateY(-55px);
	right: 60px;
}

.addPopup {
	position: fixed;
	bottom: 32px;
	right: 32px;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 48px;
	height: 48px;
	border-radius: 999px;
	font-size: 28px;
	font-weight: 900;
	color: var(--light);
	background-color: var(--primary);
	background-image: linear-gradient(to right, #FF512F, #D81E5B);
	cursor: pointer;
	transition: 0.2s;
}

.addPopup:hover {
	width: 52px;
	height: 52px;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	max-width: 400px;
	background-color: var(--light);
	padding: 32px;
	border-radius: 16px;
	box-shadow: 0px 4px 32px var(--dark);
}

.closePopup {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: var(--dark);
	cursor: pointer;
}

.popup h3 {
	color: var(--dark);
	margin-bottom: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.add-todo-input {
	appearance: none;
	outline: none;
	border: none;
	background-color: #FFF;
	padding: 12px;
	border-radius: 16px;
	width: 100%;
	box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
	font-size: 20px;
}

.button {
	padding: 10px 28px;
	border-radius: 100px;
	background-image: linear-gradient(to right, #FF512F, #D81E5B);
	display: inline-block;
	font-weight: 400;
	font-size: 18px;
	margin-top: 32px;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
}

.button:hover {
	opacity: 0.8;
}